/*
websocket-gateway

Describe the websocket endpoints of Qovery

API version: 0.1.0
Contact: erebe@erebe.eu
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package qovery-ws

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// BlueprintPreviewAPIService BlueprintPreviewAPI service
type BlueprintPreviewAPIService service

type ApiHandleBlueprintPreviewRequestRequest struct {
	ctx context.Context
	ApiService *BlueprintPreviewAPIService
	organization string
	cluster string
	previewId string
}

func (r ApiHandleBlueprintPreviewRequestRequest) Execute() (*BlueprintPreviewResult, *http.Response, error) {
	return r.ApiService.HandleBlueprintPreviewRequestExecute(r)
}

/*
HandleBlueprintPreviewRequest Method for HandleBlueprintPreviewRequest

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organization Organization id — for permission scoping. Frontend already has it.
 @param cluster Cluster id — for permission scoping. Frontend already has it.
 @param previewId Preview id — the UUIDv7 q-core returned from `POST /api/blueprint/{id}/update/preview`. Doubles as the Pub/Sub channel suffix: `core.blueprint.preview.{preview_id}`.
 @return ApiHandleBlueprintPreviewRequestRequest
*/
func (a *BlueprintPreviewAPIService) HandleBlueprintPreviewRequest(ctx context.Context, organization string, cluster string, previewId string) ApiHandleBlueprintPreviewRequestRequest {
	return ApiHandleBlueprintPreviewRequestRequest{
		ApiService: a,
		ctx: ctx,
		organization: organization,
		cluster: cluster,
		previewId: previewId,
	}
}

// Execute executes the request
//  @return BlueprintPreviewResult
func (a *BlueprintPreviewAPIService) HandleBlueprintPreviewRequestExecute(r ApiHandleBlueprintPreviewRequestRequest) (*BlueprintPreviewResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BlueprintPreviewResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintPreviewAPIService.HandleBlueprintPreviewRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/blueprint/preview"
	localVarPath = strings.Replace(localVarPath, "{"+"organization"+"}", url.PathEscape(parameterValueToString(r.organization, "organization")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"cluster"+"}", url.PathEscape(parameterValueToString(r.cluster, "cluster")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"preview_id"+"}", url.PathEscape(parameterValueToString(r.previewId, "previewId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
